@import partials/base.sass
@import blueprint.sass
@import blueprint/modules/scaffolding.sass
@import compass/utilities.sass
@import blueprint/reset.sass
@import compass/layout.sass

// light
!page_color = #D6C484
!sidebar_color = #787859
!header_color = #C7B95B
!footer_color = #787859
!listing_color = #DEDE84
// dark
!container_color = #362E25
!content_color = #4A4032
!sort_color = #C7B95B
!title_color = #362E25
!comment_border_top = #4A4032
!body_background = black
// font colors
+blueprint-typography("body.main")
+sticky-footer(20px, "#container", "#root_footer", "#footer")

form.main
  +blueprint-form

body.main
  +blueprint-utilities
  +blueprint-interaction
  :background= !body_background
  #container
    +container
    :background= !container_color
    a
      +hover-link
      +link-colors(#051E21,#00302D)
  #error, #notice
    +prepend(4)
    :background= !header_color
  #header
    +column(!blueprint_grid_columns)
    :background= !header_color
    #error
      color: red
    #notice
      color: green
  #header
    +prepend(5)
    :padding-top 1em
    h1
      :margin-bottom 0
      :color #362E25
  #user-nav
    +prepend(10)
    :background= !header_color
    :padding-bottom 0.5em
  #footer
    +prepend(2)
    :background= !footer_color
  #sidebar
    !sidebar_columns = floor(!blueprint_grid_columns / 3)
    +column(!sidebar_columns)
    //:background= !sidebar_color
    #table-of-contents
      :background= !sidebar_color
      :padding 1em
      +no-bullets
      //:margin 0
      :margin-top 10px
      :margin-bottom 10px
      li
        :font-size 1.75em
      #chapter-links
        :font-size 1.25em
      .current-chapter
        :text-decoration underline
    #ads
      :margin-left 10px
  .index
    +push(6)
    :padding-top 1.5em
  #form
    +prepend(1)
    :padding-top 1em
    :padding-bottom 1em
    :background= !page_color
  #back-link
    :background-color= !page_color
    :text-align right
    :padding-right 1em
    :font-size 1.5em
  #ads
    !ads_columns = 2
    //floor(!blueprint_grid_columns / 2)
    +column(!ads_columns)
  #content
    !content_columns = 16
    //ceil(2 * !blueprint_grid_columns / 3)
    +column(!content_columns, true)
    :background= !content_color
    :margin-bottom 0
    #story-info
      :background= !page_color
    ul#sorting-list, #order-list
      +no-bullets
      +horizontal-list
      +prepend(2)
      :background= !sort_color
      li a
        :font-size 1.25em
    .story-listing
      :background= !listing_color
      :margin-top 1.5em
      .listing-author
        :text-align center
      .listing-description, .listing-score, .listing-timestamps, .listing-comments-amount
        :padding-left 2em
        :padding-right 2em
      h2
        :margin-bottom 0.25em
        :text-align center
    #new-story
      :background= !header_color
      :margin-top 1.5em
      :font-size 1.5em
      +prepend(2)
    #story-info
      :background= !page_color
      :padding 0.5em
      #story-timestamps, #story-links
        :padding-left 2em
        :padding-right 2em
      #story-timestamps
        :text-align right
      h1#story-title
        :font-weight bold
        :text-align center
        :margin-bottom 0.25em
        :color= !title_color
      #author-credit
        +prepend(4)
    #page-content
      :background #C2B572
      :padding 2em
      #page-pagination
        :text-align center
        :font-size 2em
      #page-links
        :font-size 1.25em
    #story-score
      :background= !page_color
      :padding 2em
      #voting-links
        :font-size 1.25em
    #comments
      :background= !page_color
      h2
        :text-align center
        :font-size 14pt
        :margin-bottom 0
        :color black
      .comment-body
        :border-top solid 1em
        :border-color= !comment_border_top
        :padding 2em
        :background= !page_color
      .comment-info
        :margin-top 1em
      .comment-links, .comment-voting-links
        :font-size 1.25em
      #disabled-text
        :padding 2em
    #remove-spam-link
      :font-size 1.25em
      :background= !page_color
      :padding-left 2em
    #new-comment-form
      +prepend(4)
      :background-color= !page_color
      :padding-top 2em
      h3
        :color black
      p
        :margin-bottom 0

