%script{ :type => "text/javascript" }
  /
    google_ad_client = "pub-4014828165755397";
    \/* 300x250, created 12/24/09 */
    google_ad_slot = "2562344780";
    google_ad_width = 300;
    google_ad_height = 250;
    \//
%script{ :src => "http://pagead2.googlesyndication.com/pagead/show_ads.js", :type => "text/javascript" }
